@model IEnumerable<ProyectoFacturacion.productos>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-top: 30px;
    }

    table {
        background-color: #fff;
        border: 1px solid #ddd;
        border-collapse: collapse;
        width: 100%;
        max-width: 1200px;
        margin: 20px auto;
    }

    th {
        background-color: #343a40;
        color: #fff;
        padding: 10px;
        text-align: left;
    }

    td {
        border: 1px solid #ddd;
        padding: 10px;
    }

    img {
        width: 100px;
        height: 70px;
    }

    .btn {
        color: #fff;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }
</style>

<h1 class="elegant-title">Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">CREAR</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>           
               ID
            </th>
            <th>
                NOMBRE
            </th>
            <th>
               DESCRIPCION
            </th>
            <th>
                VALOR IVA
            </th>
            <th>
                COSTO
            </th>
            <th>
                PVP
            </th>
            <th>
                IMAGEN

            </th>
            <th>
                ID CATEGORIA
            </th>
            <th>
                NOMBRE CATEGORIA
            </th>
            <th>
                STOK
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pro_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pro_nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pro_descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pro_valor_iva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pro_costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pro_pvp)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.pro_imagen)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cat_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cat_nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pro_stock)
                </td>
                
            </tr>
        }
    </tbody>
</table>
